<!DOCTYPE html>
<html lang="en">

<head>
  <title>Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../public/css/index.css">

</head>

<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light " style="height: 7vh;">
      <a class="navbar-brand text-white mb-1" href="index">Trotiguard</a>

      <button class="navbar-toggler border-0 mb-1" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" style="background-color: #31363F;" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white mr-4" href="index">Pagina Inicial <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link text-white mr-4" href="permissoes">Permissões <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white mr-4" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administração
            </a>
            <div class="dropdown-menu mr-4" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="cacifos">Cacifos</a>
              <a class="dropdown-item" href="utilizadores">Utilizadores</a>
              <a class="dropdown-item" href="estatisticas">Estatísticas</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>


    <div class="conteudo d-flex justify-content-center h-50">
      <div class="card d-flex col-xl-5 col-lg-6 col-md-8 col-sm-10 m-5 row text-center">
        <div class="card-body">
          <h5 class="card-title">Energia Consumida</h5>
          <canvas id="grafico_energia"></canvas>
        </div>
      </div>

      <div class="card d-flex col-xl-5 col-lg-6 col-md-8 col-sm-10 m-5 row text-center">
        <div class="card-body">
          <h5 class="card-title">Lucro</h5>
          <canvas id="grafico_alterado"></canvas>
        </div>
      </div>
    </div>

    <div class="conteudo d-flex justify-content-center h-50">
      <div class="card d-flex col-xl-5 col-lg-6 col-md-8 col-sm-10 m-5 row">
        <h4 class="text-center mt-4 mb-3">CACIFOS</h4>
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10 mb-4 text-center">
            <img src="../imagens/ests.png" class="img-fluid">
          </div>
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 text-center">
            <img src="../imagens/ests.png" class="img-fluid">
          </div>
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mb-4 text-center">
            <img src="../imagens/ests.png" class="img-fluid">
          </div>
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 text-center">
            <img src="../imagens/ests.png" class="img-fluid">
          </div>
        </div>
      </div>


      <div class="card d-flex col-xl-5 col-lg-6 col-md-8 col-sm-10 m-5 row text-center">
        <h4>HISTÓRICO USERS</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">campo1</th>
              <th scope="col">campo2</th>
              <th scope="col">campo3</th>
              <th scope="col">campo4</th>
              <th scope="col">campo5</th>
              <th scope="col">campo6</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>exemplo1</td>
              <td>exemplo2</td>
              <td>exemplo3</td>
              <td>exemplo4</td>
              <td>exemplo5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  </div>

  <!-- TODO JS NECESSÁRIO -->
  <script src="../node_modules/chart.js/dist/chart.umd.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    const ctx = document.getElementById('grafico_energia');

    let labelsX = ["Cacifo1", "Cacifo2", "Cacifo3"]
    let valores = [20, 20, 30, 50]
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labelsX,
        datasets: [{
          label: 'Energia(W)',
          data: valores,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    // // Incluir o Chart.js
    // const script = document.createElement('script');
    // script.src = 'node_modules/chart.js/dist/chart.umd.js';
    // script.async = false; // Garante que o script seja carregado de forma síncrona
    // document.head.appendChild(script);
    // // Primeiro gráfico
    // window.addEventListener('load', () => {
    //   const grafico_energia = document.getElementById('grafico_energia');
    //   const data = [];
    //   const data2 = [];
    //   for (let i = 0; i <= 24; i++) {
    //     const hora = i < 10 ? '0' + i + ':00' : i + ':00';
    //     let prev = 0; // Valor inicial com um desvio aleatório
    //     let prev2 = 50; // Valor inicial com um desvio aleatório

    //     data.push({ x: hora, y: prev });
    //     data2.push({ x: hora, y: prev2 });
    //   }

    //   new Chart(grafico_energia, {
    //     type: 'line',
    //     data: {
    //       labels: data.map(item => item.x), // Usar os rótulos das horas
    //       datasets: [{
    //         label: 'Cacifo1',
    //         data: data,
    //         borderColor: 'red',
    //         backgroundColor: 'rgba(255, 0, 0, 0.2)'
    //       },
    //       {
    //         label: 'Cacifo2',
    //         data: data2,
    //         borderColor: 'blue',
    //         backgroundColor: 'rgba(0, 0, 255, 0.2)'
    //       }]
    //     },
    //     options: {
    //       scales: {
    //         xAxes: [{
    //           scaleLabel: {
    //             display: true,
    //             labelString: 'Horas'
    //           }
    //         }],
    //         yAxes: [{
    //           scaleLabel: {
    //             display: true,
    //             labelString: 'Energia'
    //           },
    //         }]
    //       }
    //     }
    //   });


    //   //Segundo grafico
    //   const grafico_alterado = document.getElementById('grafico_alterado'); // Mudamos o ID do elemento de 'grafico_energia' para 'grafico_alterado'
    //   const dados1 = []; // Renomeamos 'data' para 'dados1'
    //   const dados2 = []; // Renomeamos 'data2' para 'dados2'
    //   let anterior1 = 100; // Renomeamos 'prev' para 'anterior1'
    //   let anterior2 = 80; // Renomeamos 'prev2' para 'anterior2'
    //   for (let i = 0; i < 1000; i++) {
    //     anterior1 += 5 - Math.random() * 10;
    //     dados1.push({ x: i, y: anterior1 });
    //     anterior2 += 5 - Math.random() * 10;
    //     dados2.push({ x: i, y: anterior2 });
    //   }

    //   const duracaoTotal = 10000; // Renomeamos 'totalDuration' para 'duracaoTotal'
    //   const atrasoEntrePontos = duracaoTotal / dados1.length; // Renomeamos 'delayBetweenPoints' para 'atrasoEntrePontos'
    //   const yAnterior = (grafico_alterado) => grafico_alterado.index === 0 ? grafico_alterado.chart.scales.y.getPixelForValue(100) : grafico_alterado.chart.getDatasetMeta(grafico_alterado.datasetIndex).data[grafico_alterado.index - 1].getProps(['y'], true).y; // Renomeamos 'previousY' para 'yAnterior'
    //   const animacao = {
    //     x: {
    //       type: 'number',
    //       easing: 'linear',
    //       duration: atrasoEntrePontos,
    //       from: NaN, // o ponto é inicialmente ignorado
    //       delay(grafico_alterado) {
    //         if (grafico_alterado.type !== 'data' || grafico_alterado.xIniciado) {
    //           return 0;
    //         }
    //         grafico_alterado.xIniciado = true;
    //         return grafico_alterado.index * atrasoEntrePontos;
    //       }
    //     },
    //     y: {
    //       type: 'number',
    //       easing: 'linear',
    //       duration: atrasoEntrePontos,
    //       from: yAnterior,
    //       delay(grafico_alterado) {
    //         if (grafico_alterado.type !== 'data' || grafico_alterado.yIniciado) {
    //           return 0;
    //         }
    //         grafico_alterado.yIniciado = true;
    //         return grafico_alterado.index * atrasoEntrePontos;
    //       }
    //     }
    //   };

    //   new Chart(grafico_alterado, {
    //     type: 'line',
    //     data: {
    //       datasets: [{
    //         borderColor: 'red',
    //         borderWidth: 1,
    //         radius: 0,
    //         data: dados1, // Usamos 'dados1' em vez de 'data'
    //       },
    //       {
    //         borderColor: 'blue',
    //         borderWidth: 1,
    //         radius: 0,
    //         data: dados2, // Usamos 'dados2' em vez de 'data2'
    //       }]
    //     },
    //     options: {
    //       animation: animacao, // Usamos 'animacao' em vez de 'animation'
    //       interaction: {
    //         intersect: false
    //       },
    //       plugins: {
    //         legend: false
    //       },
    //       scales: {
    //         x: {
    //           type: 'linear'
    //         }
    //       }
    //     }
    //   });

    // });
  </script>
</body>

</html>