<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body class="fundo-pagina">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-3">
                <div class="card shadow-lg border-0" style="background-color: #EEEEEE; height: 50vh;">
                    <div class="card-header" style="background-color: #31363F;">
                        <div class="text-center">
                            <h1 style="color: white;">Login</h1>
                        </div>
                    </div>

                    <form method="post" action="/login" autocomplete="on">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <div class="form-group">
                                <input class="form-control rounded-pill mb-5" type="text" name="email" id="email_user"
                                    placeholder="Email" aria-describedby="helpId">
                            </div>

                            <div class="form-group">
                                <input class="form-control rounded-pill mb-4" type="password" name="password" id="password"
                                    placeholder="Palavra-passe" aria-describedby="helpId">
                            </div>

                            <div class="text-center">
                                <button id="enviar" type="submit" class="btn btn-lg btn-md btn-primary rounded-pill w-50" id="login">Entrar</button>
                            </div>
                            
                        </div>
                    </form>
                    <div class="text-center mb-4">
                        <label class="d-block">Caso tenha algum problema em efetuar o login <a
                                href="#">contacte-nos</a>.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>