.fundo-pagina {
    background-image: url('../imagens/ests.png');
    height: 100vh; /* Ajuste conforme necessário */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#suporte_btn{
    color: blue;
    cursor: pointer;
}

#suporte_btn:active{
    color: red;
    cursor: pointer;
}